html,body {
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4,h5,h6 {
    margin: 0;
    padding: 0;
}
h1 {
    font-weight: 300;
    font-size: 40px;
}
h2 {
    font-weight: 100;
    font-style: italic;
    opacity: .5;
}
button {
    border: none;
    outline: none;
    background: none;
}
button:hover {
    cursor: pointer;
}
* {
    font-family: 'Montserrat','Arial', sans-serif; 
    box-sizing: border-box;
}
.page {
    width: 100%;
    height: 100vh;
    display: flex;
}
.sidebar {
    background-color: rgb(0, 122, 219);
    width: 250px;
    height: 100%;
    box-sizing: border-box;
    padding-bottom: 10px;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}
.buttoncontainer {
    flex-grow: 100;
    overflow-y: auto;
}
.sidebar button {
    background: none;
    border: none;
    outline: none;
    width: 100%;
    height: 45px;
    transition: .3s ease;
    color: white;
    font-size: 16px;
    box-sizing: border-box;
    padding-left: 15px;
    padding-left: 0px solid transparent;
    text-align: left;
    margin: 0;
}
.sidebar button:hover {
    background-color: rgb(46, 46, 46);
    border-left: 4px solid white;
}
.heading {
    width: 100%;
    height: 80px;
    color: white;
    line-height: 80px;
    padding-left: 15px;
    font-size: 28px;
    letter-spacing: 3px;
    font-weight: 700;
}
.buttoncontainer {
    flex-grow: 100;
}
#mdframe {
    background-color: white;
    flex-grow: 100;
    overflow-y: auto;
    overflow-x: hidden;
    box-sizing: border-box;
    padding: 30px;
}
[id^='md_container'] {
    display: none;
}